<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
              <span>Copyright &copy; <a title="More info"
                                        href="https://www.facebook.com/ho.tam.535127"
                                        target="_blank">Doctor Tầm Văn Hô</a></span>
        </div>
    </div>
</footer>
