<!DOCTYPE html>
<html lang="en">

<head>
    <title>Doctors Care</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4.3, Jquery 3.3, font-awesome 4.7, slick-slider-->
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url('/images/header.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 100vh;
        }
    </style>
</head>

<body>

    <div class="login">
        <div class="container lg-body">
            <div class="container d-flex flex-row">
                <div class="col-6 lg-image-background">
                </div>
                <div class="col-6 login-form">
                    <span class="text-login">Đăng nhập</span>
                    <% if(error !="" ){ %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                        <% } %>
                            <form method="POST" action="/login">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="remember-me" name="remember">
                                            <label class="form-check-label" for="remember-me">Ghi nhớ đăng nhập</label>
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#forgotPasswordModal">Quên mật khẩu?</a>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-login">Đăng nhập</button>
                            </form>
                            <br>
                            <hr>
                            <a class="lg-register" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Về trang
                                chủ</a> <br />
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Vui lòng nhập email để xác định tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Thông báo lỗi/thành công -->
                    <div class="alert alert-danger d-none" id="reset-password-error"></div>
                    <div class="alert alert-success d-none" id="reset-password-success"></div>
                    
                    <div class="form-group">
                        <label for="email-reset">Email:</label>
                        <input id="email-reset" type="email" class="form-control" placeholder="Nhập email của bạn">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btn-forgot-password">
                        <span class="spinner-border spinner-border-sm d-none" id="forgot-password-spinner" role="status"></span>
                        <span id="forgot-password-text">Gửi yêu cầu</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // Xử lý khi người dùng nhấn nút gửi yêu cầu
            $('#btn-forgot-password').on('click', function() {
                const email = $('#email-reset').val().trim();
                
                // Ẩn thông báo lỗi/thành công cũ
                $('#reset-password-error').addClass('d-none');
                $('#reset-password-success').addClass('d-none');
                
                // Validate email
                if (!email) {
                    $('#reset-password-error').text('Vui lòng nhập email').removeClass('d-none');
                    return;
                }
                
                // Hiển thị spinner và vô hiệu hóa nút
                $('#forgot-password-spinner').removeClass('d-none');
                $('#forgot-password-text').text('Đang xử lý...');
                $('#btn-forgot-password').attr('disabled', true);
                
                // Gửi yêu cầu API
                $.ajax({
                    url: '/api/forgot-password',
                    method: 'POST',
                    data: { email: email },
                    success: function(data) {
                        $('#reset-password-success').text('Yêu cầu đặt lại mật khẩu đã được gửi tới email của bạn.').removeClass('d-none');
                        $('#email-reset').val('');
                        
                        // Tự động đóng modal sau 5 giây
                        setTimeout(function() {
                            $('#forgotPasswordModal').modal('hide');
                        }, 5000);
                    },
                    error: function(err) {
                        let errorMessage = 'Đã có lỗi xảy ra. Vui lòng thử lại sau.';
                        if (err.responseJSON && err.responseJSON.message) {
                            errorMessage = err.responseJSON.message;
                        }
                        $('#reset-password-error').text(errorMessage).removeClass('d-none');
                    },
                    complete: function() {
                        // Ẩn spinner và kích hoạt lại nút
                        $('#forgot-password-spinner').addClass('d-none');
                        $('#forgot-password-text').text('Gửi yêu cầu');
                        $('#btn-forgot-password').attr('disabled', false);
                    }
                });
            });
        });
    </script>

</body>

</html>